@using IndividualsDirectory.Models.Create

@model CreateIndividualViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"><b>First name</b></label>
        <div class="col-lg-9">
            <input class="form-control" asp-for="FirstName" type="text">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"><b>Last name</b></label>
        <div class="col-lg-9">
            <input class="form-control" asp-for="LastName" type="text">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"><b>Gender</b></label>
        <div class="col-lg-9">
            <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                <option value="">Choose...</option>
            </select>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"><b>Personal Number</b></label>
        <div class="col-lg-9">
            <input class="form-control" asp-for="PersonalNumber" type="text">
            <span asp-validation-for="PersonalNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"><b>Birth Date</b></label>
        <div class="col-lg-9">
            <div class="input-group date" data-provide="datepicker">
                <input class="form-control" asp-for="BirthDate" type="text" placeholder="mm/dd/yyyy" />
                <span class="input-group-addon form-control">
                    <i class="icon-calendar"></i>
                </span>
            </div>
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"><b>Upload Image</b></label>
        <div class="col-lg-9">
            <input class="form-control-file" asp-for="Image" type="file" accept="image/*">
        </div>
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label class="col-lg-3 col-form-label form-control-label"><b>City</b></label>
        <div class="col-lg-9">
            <select asp-for="CityId" id="cities" class="form-control">
                @if (Model?.CityId != null)
                {
                    <option value="@Model.CityId"></option>
                }
                else
                {
                    <option></option>
                }
            </select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-lg-12 col-form-label form-control-label" style="text-align: center;"><b>Phone Numbers</b></label>
    </div>
    <div id="createPhoneNumbersEditor">
        @if (Model?.PhoneNumbers != null)
        {
            foreach (var phoneNumber in Model.PhoneNumbers)
            {
                <partial name="_CreatePhoneNumbersEditorPartial" model="phoneNumber" />
            }
        }
    </div>
    <div class="form-group row">
        <button id="addCreatePhoneNumber" type="button" class="col-lg btn btn-outline-secondary btn-sm" style="text-align: center;">Add</button>
    </div>
    <div class="form-group row">
        <label class="col-lg-12 col-form-label form-control-label" style="text-align: center;"><b>Related Individuals</b></label>
    </div>
    <div id="createRelatedIndividualsEditor">
        @if (Model?.RelatedIndividuals != null)
        {
            foreach (var relatedIndividual in Model.RelatedIndividuals)
            {
                <partial name="_CreateRelatedIndividualsEditorPartial" model="relatedIndividual" />
            }
        }
    </div>
    <div class="form-group row">
        <button id="addCreateRelatedIndividual" type="button" class="col-lg btn btn-outline-secondary btn-sm" style="text-align: center;">Add</button>
    </div>
    <div class="form-group row">
        <div class="col-lg-12" style="text-align: center">
            <a asp-action="Index" class="btn btn-outline-secondary">Back to list</a>
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/lib/jquery/dist/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/bootstrap-datepicker.ka.min.js"></script>
    <script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>
}