@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<center>
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">Oops. Something went wrong. Please visit main page.</h2>
    <a asp-action="Index">Go to main page</a>
</center>
